.about:hover {
    background: whitesmoke;
    color: black;
}

.title1 {
    padding-left: 5vw;
    color: green;
}

main {}
.section2 {
    position: relative;
    display: flex;
    width: 90vw;
    height: 33vw;
    padding-left: 5vw;
}

.train {
    width: 40vw;
    height: 30vw;
    border-radius: 3vw;
    border: 2px solid gray;
}

@media screen and (max-width: 800px) {
    .section2 {
        display: flex;
        flex-flow: column; 
        width: 90vw;
        height: 94vw;
        padding-left: 2vw;
    }

    .train {
        width: 90vw;
        height: 40vw;
        border-radius: 6vw;
        border: 3px solid gray;
    }
}
.train {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex: auto;
    color:white;
}

.train:hover {
    animation-duration: 0.3s;
    color: black;
    opacity: 0.5;
    border-radius: 3vw;
    background-color: whitesmoke;
}

.E235_1000 {
    background: url(E235_1000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E235_0 {
    background: url(E235_0.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_8000 {
    background: url(E233_8000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_7000 {
    background: url(E233_7000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_6000 {
    background: url(E233_6000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_5000 {
    background: url(E233_5000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_3000 {
    background: url(E233_3000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_2000 {
    background: url(E233_2000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_1000 {
    background: url(E233_1000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E233_0 {
    background: url(E233_0.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E231_1000 {
    background: url(E231_1000.jpg);
    background-position: cover;
    background-size: cover;
    margin: 3vw;
}

.E231_500 {
    background: url(E231_500.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E231_0 {
    background: url(E231_0.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E231_3000 {
    background: url(E231_3000.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E531 {
    background: url(E531.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}

.E217 {
    background: url(E217.jpg);
    background-position: center;
    background-size: cover;
    margin: 3vw;
}
