.app:hover {
    background: whitesmoke;
    color: black;
}

main {}

.card3 {
    display: flex;
}


.new {
    width: 10vw;
    height: 10vw;
    border-radius: 2vw;
    border: 2px solid gray;
    margin: 2vw;
}

.card3 {
    width: 80vw;
    height: 13vw;
    padding-left: 1vw;
}

@media screen and (max-width: 800px) {
    .card3 {
        display: flex;
        flex-flow: column;
    }

    .card3 {
        width: 50vw;
        height: 490vw;
        padding-left: 15vw;
    }

    .new {
        width: 50vw;
        height: 50vw;
        border-radius: 10vw;
        border: 2px solid gray;
        margin: 10vw;
    }
}

.new:hover {
    animation-duration: 0.3s;
    color: black;
    opacity: 0.5;
    background-color: whitesmoke;
}

.soutetsu {
    background: url(sotetsu.PNG);
    background-position: center;
    background-size: cover;
}

.tokyu {
    background: url(tokyu.PNG);
    background-position: center;
    background-size: cover;
}

.jreast {
    background: url(jreast.PNG);
    background-position: center;
    background-size: cover;
}

.tsubway {
    background: url(tsubway.JPG);
    background-position: center;
    background-size: cover;
}

.tmetro {
    background: url(tmetro.PNG);
    background-position: center;
    background-size: cover;
}

.tobu {
    background: url(tobu.PNG);
    background-position: center;
    background-size: cover;
}

.seibu {
    background: url(seibu.PNG);
    background-position: center;
    background-size: cover;
}

.buck,
h1 {
    padding-left: 3vw;
}