.home:hover {
    background: whitesmoke;
    color: black;
}

.section2{
    display: flex;
    justify-content: space-around;
    width: auto;
    height:auto;
    margin: 0;
}

main {}
.card1 {
    width: 46vw;
}

.card2 {
    width: 46vw;
}

@media screen and (max-width: 800px) {
    .section2{
        flex-flow: column;
    }

    .card1 {
        width: 94vw;
    }
    
    .card2 {
        width: 94vw;
    }
}

.card1 {
    display: flex;
    border: 1px solid gray;
    border-radius: 1vw;
    background-color: whitesmoke;
    margin: 3vw;
}

.title1 {
    display: flex;
    padding-top: 20px;
    padding: 1vw;
    flex: auto;
}

.massage1 {
    display: flex;
    align-items: center;
    padding: 1vw;
    padding-right: 1vw;
}

.card2 {
    display: flex;
    border: 1px solid gray;
    border-radius: 1vw;
    background-color: whitesmoke;
    margin: 3vw;
}

.title2 {
    display: flex;
    padding-top: 20px;
    padding: 1vw;
    flex: auto;
}

.massage2 {
    display: flex;
    align-items: center;
    padding: 1vw;
    padding-right: 1vw;
}
