body {
    background: white;
    padding: 0;
    margin: 0;
}

.header-nav-wrapper {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
}

.main-wrapper {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 90px;
    width: 100vw;
}

.header {
    display: flex;
    background: skyblue;
    margin: 0;
    width:100vw;
    height: 60px;
    align-items: center; 
    justify-content: start;
}

.text{
    font-weight: 100;
    color: black;
    margin-left: 2vw;
}

.section1 {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin: 0;
}

a {
    text-decoration: none;
}

.horizontal {
    display: flex;
    width: 25vw;
    height: 30px;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex: auto;
    color: black;
    background: whitesmoke;
}

.horizontal:hover {
    background: gray;
    color: whitesmoke;
}

.horizontal:visited {
    text-decoration: none;
}
